es6/node_modules
**/*.class

**/node_modules/

**/cache/
**/dist/

**/*/.idea/
**/.idea/

spring-demo/lib
spring-demo/out
commons/target

!vtkjs-demo/dist/index.html
!vtkjs-demo/dist/demo.html

pyside2-demo/env/